{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <!-- <style>
.banner{
     background-color: maroon;
     width :100%;
     height: 200px;
     margin-bottom: 50px;
}

.banner-text{
top: 20%;
left: 50%;
position:absolute;
}
</style> !-->
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">


</head>

<body>
{% block content %}
{% endblock %}
</body>
</html>